/* FOOTER PAGE STYLES*/
.footer_div{
    height: 600px;
    width: 1511px ;
    background-color: #E7E7E7;
    position: absolute;
}
.trp {
    color:#7E8898;
}
.coninfo, .trp{
    margin: 0px 0 0 150px;
    display: inline-block;
}
.coninfo{
    color:#4E6FAE;
}
.maps{
    height: 450px;
    width: 750px;
    display: inline-block;
    margin-left: 700px ;
    margin-right: 40px; 
    margin-top: -150px;
}
.continfo_div{
    margin-top: 90px;
}
.ftlogos1{
    margin-top: 700px;
}
.ftlogos2{
    margin: 100px 0 0 7px;

}
.line2{
    display: inline-block;
    background-color: #5012D5;
    width: 3px;
    height: 50px;
    margin: 0 30px 0 30px;
}
.ftlogos{
    margin: 100px 0 0 195px;
}
/*navbar styles*/
.html_img{
    display: inline-block; 
    margin: -10px 0 0 10px;
}
.links{
      display: inline-block;
      color:  #8D81FF;
      font-size: 26px;
      font-weight: 700;
      line-height: 31.2px;
      text-align: left;
      list-style: none;
      text-decoration: none;
      margin: 25px;
}
.links1{
      color: #4E6FAE;
      margin: 25px;
      text-decoration: none;
}